# Build folders
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# Environment files
.env

# Rider caches
.idea_modules/

# Test results
TestResults/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/